In [1]:
import numpy as np 
import pandas as pd 

data_path = 'gender_data/integrated_df.csv'
df = pd.read_csv(data_path)

In [2]:
df.shape

(271893, 28)

In [3]:
# show all the columns in the df when printing
pd.set_option('display.max_columns', None)
df.head()

,company,user_name,gender,age,travelCode,userCode,from,to,flightType,flight_price,time,distance,agency,flight_date,hotel_name,place,days,hotel_price,total,hotel_booking_date,flight_year,flight_Day,flight_is_weekend,flight_month,hotel_year,hotel_Day,booking_is_weekend,booking_month
0,4You,Roy Braun,male,21,0.0,0.0,Recife (PE),Florianopolis (SC),firstClass,1434.38,1.76,676.53,FlyingDrops,2019-09-26,Hotel A,Florianopolis (SC),4.0,313.02,1252.08,2019-09-26,2019.0,26.0,False,9.0,2019.0,26.0,False,9.0
1,4You,Roy Braun,male,21,0.0,0.0,Florianopolis (SC),Recife (PE),firstClass,1292.29,1.76,676.53,FlyingDrops,2019-09-30,Hotel A,Florianopolis (SC),4.0,313.02,1252.08,2019-09-26,2019.0,30.0,False,9.0,2019.0,26.0,False,9.0
2,4You,Roy Braun,male,21,1.0,0.0,Brasilia (DF),Florianopolis (SC),firstClass,1487.52,1.66,637.56,CloudFy,2019-10-03,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,3.0,False,10.0,NaN,NaN,False,NaN
3,4You,Roy Braun,male,21,1.0,0.0,Florianopolis (SC),Brasilia (DF),firstClass,1127.36,1.66,637.56,CloudFy,2019-10-04,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,4.0,False,10.0,NaN,NaN,False,NaN
4,4You,Roy Braun,male,21,2.0,0.0,Aracaju (SE),Salvador (BH),firstClass,1684.05,2.16,830.86,CloudFy,2019-10-10,Hotel K,Salvador (BH),2.0,263.41,526.82,2019-10-10,2019.0,10.0,False,10.0,2019.0,10.0,False,10.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271893 entries, 0 to 271892
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   company             271893 non-null  object
 1   user_name           271893 non-null  object
 2   gender              271893 non-null  object
 3   age                 271893 non-null  int64
 4   travelCode          271888 non-null  float64
 5   userCode            271888 non-null  float64
 6   from                271888 non-null  object
 7   to                  271888 non-null  object
 8   flightType          271888 non-null  object
 9   flight_price        271888 non-null  float64
 10  time                271888 non-null  float64
 11  distance            271888 non-null  float64
 12  agency              271888 non-null  object
 13  flight_date         271888 non-null  object
 14  hotel_name          81104 non-null   object
 15  place               81104 non-null   object
 16  days                81104 non-null   float64
 17  hotel_price         81104 non-null   float64
 18  total               81104 non-null   float64
 19  hotel_booking_date  81104 non-null   object
 20  flight_year         271888 non-null  float64
 21  flight_Day          271888 non-null  float64
 22  flight_is_weekend   271893 non-null  bool
 23  flight_month        271888 non-null  float64
 24  hotel_year          81104 non-null   float64
 25  hotel_Day           81104 non-null   float64
 26  booking_is_weekend  271893 non-null  bool
 27  booking_month       81104 non-null   float64
dtypes: bool(2), float64(14), int64(1), object(11)
memory usage: 54.5+ MB

In [5]:
# rename the booking_month to hotel_month and booking_is_weekend to hotel_is_weekend
df = df.rename(columns={'booking_month': 'hotel_month', 'booking_is_weekend': 'hotel_is_weekend'})

In [6]:
df.isnull().sum()

company                    0
user_name                  0
gender                     0
age                        0
travelCode                 5
userCode                   5
from                       5
to                         5
flightType                 5
flight_price               5
time                       5
distance                   5
agency                     5
flight_date                5
hotel_name            190789
place                 190789
days                  190789
hotel_price           190789
total                 190789
hotel_booking_date    190789
flight_year                5
flight_Day                 5
flight_is_weekend          0
flight_month               5
hotel_year            190789
hotel_Day             190789
hotel_is_weekend           0
hotel_month           190789
dtype: int64

In [7]:

df = df.dropna(subset=['from'])
df.isnull().sum()

company                    0
user_name                  0
gender                     0
age                        0
travelCode                 0
userCode                   0
from                       0
to                         0
flightType                 0
flight_price               0
time                       0
distance                   0
agency                     0
flight_date                0
hotel_name            190784
place                 190784
days                  190784
hotel_price           190784
total                 190784
hotel_booking_date    190784
flight_year                0
flight_Day                 0
flight_is_weekend          0
flight_month               0
hotel_year            190784
hotel_Day             190784
hotel_is_weekend           0
hotel_month           190784
dtype: int64

from : for each user : we have created multiple columns indicating the count of each starting city  
to : for each user : we have created multiple columns indicating the count of each destination city
flightType : for each user : we have created multiple columns indicating the count of each flight type (premium / economic / firstClass)
flight_price : average flight price per user
time : average time of travel per user (in hours)
distance : average distance of travel per user (in kms)
agency : for each user : we have created multiple columns indicating the count of each travel agency
flight_date : drop this column for user level data
hotel_name : for each user : we have created multiple columns indicating the count of each hotel booked
place : for each user : we have created multiple columns indicating the count of each place visited
days : average number of days of travel per user
hotel_price : average hotel price per user
flight_year : for each user : we have created multiple columns indicating the count of each flight year
flight_Day : drop this column for user level data
flight_is_weekend : for each user : we have created multiple columns indicating the count of weekend vs weekday flights
flight_month: for each user : we have created multiple columns indicating the count of each flight month
hotel_year : for each user : we have created multiple columns indicating the count of each hotel booking year
hotel_month : for each user : we have created multiple columns indicating the count of each hotel booking month
hotel_is_weekend : for each user : we have created multiple columns indicating the count of weekend vs weekday hotel bookings

In [8]:
# We will do df aggregation based on the userCode to get the user level data

agg_df = df.groupby('userCode').agg(
    age = ('age', 'first'),
    company = ('company', 'first'),
    gender = ('gender', 'first'),
    total_trips = ('travelCode', 'nunique'),
    avg_flight_price = ('flight_price', 'mean'),
    avg_distance = ('distance', 'mean'),
    avg_flight_time = ('time', 'mean'),
    avg_days = ('days', 'mean'),
    avg_hotel_price = ('hotel_price', 'mean'),
    ).reset_index()

In [9]:
agg_df.head()

,userCode,age,company,gender,total_trips,avg_flight_price,avg_distance,avg_flight_time,avg_days,avg_hotel_price
0,0.0,21,4You,male,89,989.066124,527.233596,1.370337,2.629630,225.741481
1,1.0,37,4You,male,6,818.898333,508.648333,1.321667,1.000000,193.360000
2,2.0,48,4You,female,131,906.921832,513.671374,1.335191,2.694444,210.050000
3,3.0,23,4You,female,199,936.913894,506.074372,1.315176,2.300000,217.058500
4,4.0,44,4You,female,199,957.393417,517.955477,1.345930,2.571429,214.947679

In [10]:
# Getting the feature for indicating the presence of hotel booking in a trip
# Trips without hotel 
trip_hotel_flag = (
    df.groupby(['userCode','travelCode'])['hotel_name'].apply(lambda x: x.notna().any()).reset_index(name = 'has_hotel')
)
trip_hotel_flag.head()

   userCode  travelCode  has_hotel
0       0.0         0.0       True
1       0.0         1.0      False
2       0.0         2.0       True
3       0.0         3.0      False
4       0.0         4.0      False

In [11]:
trips_without_hotel = (
    trip_hotel_flag.groupby('userCode')['has_hotel'].apply(lambda x: (~x).sum()).reset_index(name = 'total_trips_without_hotel_bookings')
)
trips_without_hotel.head()

   userCode  total_trips_without_hotel_bookings
0       0.0                                  62
1       1.0                                   4
2       2.0                                  95
3       3.0                                 139
4       4.0                                 143

In [12]:
agg_df = agg_df.merge(trips_without_hotel, on='userCode', how='left')
agg_df['total_trips_without_hotel_bookings'] = agg_df['total_trips_without_hotel_bookings'].fillna(0).astype(int)

In [13]:
# Helper for count features

def add_count_features(df_in , col , prefix):
    d = pd.get_dummies(df_in[col] , prefix = prefix)
    d['userCode'] = df_in['userCode']
    return d.groupby('userCode').sum().reset_index()


from_counts = add_count_features(df , 'from','from')
to_counts = add_count_features(df , 'to' , 'to')
flightType_counts = add_count_features(df , 'flightType' , 'flightType')
agency_counts = add_count_features(df , 'agency' , 'agency')
hotel_counts = add_count_features(df , 'hotel_name' , 'hotel')
place_counts = add_count_features(df , 'place' , 'place')

In [14]:
df.columns

Index(['company', 'user_name', 'gender', 'age', 'travelCode', 'userCode',
       'from', 'to', 'flightType', 'flight_price', 'time', 'distance',
       'agency', 'flight_date', 'hotel_name', 'place', 'days', 'hotel_price',
       'total', 'hotel_booking_date', 'flight_year', 'flight_Day',
       'flight_is_weekend', 'flight_month', 'hotel_year', 'hotel_Day',
       'hotel_is_weekend', 'hotel_month'],
      dtype='object')

In [15]:
# temporal features

flight_year_counts = add_count_features(df , 'flight_year' , 'flight_year')
flight_month_counts = add_count_features(df , 'flight_month' , 'flight_month')
flight_weekend_counts = add_count_features(df , 'flight_is_weekend' , 'flight_is_weekend')

hotel_year_counts = add_count_features(df , 'hotel_year' , 'hotel_year')
hotel_month_counts = add_count_features(df , 'hotel_month' , 'hotel_month')
hotel_weekend_counts = add_count_features(df , 'hotel_is_weekend' , 'hotel_is_weekend')

In [16]:
for part in [
    from_counts, to_counts , flightType_counts , agency_counts , hotel_counts ,
    place_counts , flight_year_counts , flight_month_counts , flight_weekend_counts , hotel_year_counts , hotel_month_counts , hotel_weekend_counts
]:
    agg_df = agg_df.merge(part , on = 'userCode' , how = 'left')

In [17]:
agg_df.shape

(1335, 90)

In [18]:
# showing all the records of a series 

pd.set_option('display.max_rows', None)

In [19]:
agg_df.isnull().sum()

userCode                               0
age                                    0
company                                0
gender                                 0
total_trips                            0
avg_flight_price                       0
avg_distance                           0
avg_flight_time                        0
avg_days                              25
avg_hotel_price                       25
total_trips_without_hotel_bookings     0
from_Aracaju (SE)                      0
from_Brasilia (DF)                     0
from_Campo Grande (MS)                 0
from_Florianopolis (SC)                0
from_Natal (RN)                        0
from_Recife (PE)                       0
from_Rio de Janeiro (RJ)               0
from_Salvador (BH)                     0
from_Sao Paulo (SP)                    0
to_Aracaju (SE)                        0
to_Brasilia (DF)                       0
to_Campo Grande (MS)                   0
to_Florianopolis (SC)                  0
to_Natal (RN)                          0
to_Recife (PE)                         0
to_Rio de Janeiro (RJ)                 0
to_Salvador (BH)                       0
to_Sao Paulo (SP)                      0
flightType_economic                    0
flightType_firstClass                  0
flightType_premium                     0
agency_CloudFy                         0
agency_FlyingDrops                     0
agency_Rainbow                         0
hotel_Hotel A                          0
hotel_Hotel AF                         0
hotel_Hotel AU                         0
hotel_Hotel BD                         0
hotel_Hotel BP                         0
hotel_Hotel BW                         0
hotel_Hotel CB                         0
hotel_Hotel K                          0
hotel_Hotel Z                          0
place_Aracaju (SE)                     0
place_Brasilia (DF)                    0
place_Campo Grande (MS)                0
place_Florianopolis (SC)               0
place_Natal (RN)                       0
place_Recife (PE)                      0
place_Rio de Janeiro (RJ)              0
place_Salvador (BH)                    0
place_Sao Paulo (SP)                   0
flight_year_2019.0                     0
flight_year_2020.0                     0
flight_year_2021.0                     0
flight_year_2022.0                     0
flight_year_2023.0                     0
flight_month_1.0                       0
flight_month_2.0                       0
flight_month_3.0                       0
flight_month_4.0                       0
flight_month_5.0                       0
flight_month_6.0                       0
flight_month_7.0                       0
flight_month_8.0                       0
flight_month_9.0                       0
flight_month_10.0                      0
flight_month_11.0                      0
flight_month_12.0                      0
flight_is_weekend_False                0
flight_is_weekend_True                 0
hotel_year_2019.0                      0
hotel_year_2020.0                      0
hotel_year_2021.0                      0
hotel_year_2022.0                      0
hotel_year_2023.0                      0
hotel_month_1.0                        0
hotel_month_2.0                        0
hotel_month_3.0                        0
hotel_month_4.0                        0
hotel_month_5.0                        0
hotel_month_6.0                        0
hotel_month_7.0                        0
hotel_month_8.0                        0
hotel_month_9.0                        0
hotel_month_10.0                       0
hotel_month_11.0                       0
hotel_month_12.0                       0
hotel_is_weekend_False                 0
dtype: int64

In [20]:
# dropping the records with null values 
agg_df = agg_df.dropna()

In [21]:
agg_df.head()

,userCode,age,company,gender,total_trips,avg_flight_price,avg_distance,avg_flight_time,avg_days,avg_hotel_price,total_trips_without_hotel_bookings,from_Aracaju (SE),from_Brasilia (DF),from_Campo Grande (MS),from_Florianopolis (SC),from_Natal (RN),from_Recife (PE),from_Rio de Janeiro (RJ),from_Salvador (BH),from_Sao Paulo (SP),to_Aracaju (SE),to_Brasilia (DF),to_Campo Grande (MS),to_Florianopolis (SC),to_Natal (RN),to_Recife (PE),to_Rio de Janeiro (RJ),to_Salvador (BH),to_Sao Paulo (SP),flightType_economic,flightType_firstClass,flightType_premium,agency_CloudFy,agency_FlyingDrops,agency_Rainbow,hotel_Hotel A,hotel_Hotel AF,hotel_Hotel AU,hotel_Hotel BD,hotel_Hotel BP,hotel_Hotel BW,hotel_Hotel CB,hotel_Hotel K,hotel_Hotel Z,place_Aracaju (SE),place_Brasilia (DF),place_Campo Grande (MS),place_Florianopolis (SC),place_Natal (RN),place_Recife (PE),place_Rio de Janeiro (RJ),place_Salvador (BH),place_Sao Paulo (SP),flight_year_2019.0,flight_year_2020.0,flight_year_2021.0,flight_year_2022.0,flight_year_2023.0,flight_month_1.0,flight_month_2.0,flight_month_3.0,flight_month_4.0,flight_month_5.0,flight_month_6.0,flight_month_7.0,flight_month_8.0,flight_month_9.0,flight_month_10.0,flight_month_11.0,flight_month_12.0,flight_is_weekend_False,flight_is_weekend_True,hotel_year_2019.0,hotel_year_2020.0,hotel_year_2021.0,hotel_year_2022.0,hotel_year_2023.0,hotel_month_1.0,hotel_month_2.0,hotel_month_3.0,hotel_month_4.0,hotel_month_5.0,hotel_month_6.0,hotel_month_7.0,hotel_month_8.0,hotel_month_9.0,hotel_month_10.0,hotel_month_11.0,hotel_month_12.0,hotel_is_weekend_False
0,0.0,21,4You,male,89,989.066124,527.233596,1.370337,2.629630,225.741481,62,33,36,8,12,13,35,8,18,15,33,36,8,12,13,35,8,18,15,44,88,46,78,32,68,6,8,4,8,2,4,2,14,6,6,2,4,6,8,4,2,14,8,28,105,45,0,0,19,16,16,18,17,11,9,9,10,18,18,17,136,42,10,36,8,0,0,2,4,0,4,10,4,4,2,4,10,4,6,178
1,1.0,37,4You,male,6,818.898333,508.648333,1.321667,1.000000,193.360000,4,4,2,0,1,0,2,0,1,2,4,2,0,1,0,2,0,1,2,4,2,6,8,2,2,0,2,0,0,2,0,0,0,0,0,2,0,0,0,0,0,0,2,12,0,0,0,0,0,0,0,0,0,0,0,0,2,9,1,0,11,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,12
2,2.0,48,4You,female,131,906.921832,513.671374,1.335191,2.694444,210.050000,95,56,56,12,14,19,50,22,19,14,56,56,12,14,19,50,22,19,14,88,98,76,112,24,126,12,4,6,4,4,14,6,10,12,12,4,14,12,4,6,6,10,4,28,105,104,25,0,27,25,24,18,18,16,19,17,19,28,25,26,197,65,8,30,24,10,0,10,8,6,8,2,0,10,2,2,6,8,10,262
3,3.0,23,4You,female,199,936.913894,506.074372,1.315176,2.300000,217.058500,139,74,87,33,42,23,79,23,17,20,74,87,33,42,23,79,23,17,20,114,172,112,172,56,170,20,12,14,22,4,18,14,12,4,4,4,18,20,22,14,14,12,12,28,105,104,104,57,36,33,34,35,34,35,33,25,28,37,32,36,287,111,8,32,28,24,28,18,14,8,12,10,10,8,4,6,8,12,10,398
4,4.0,44,4You,female,199,957.393417,517.955477,1.345930,2.571429,214.947679,143,73,75,16,28,21,104,32,25,24,73,75,16,28,21,104,32,25,24,96,180,122,164,60,174,14,12,14,10,6,12,22,14,8,8,6,12,14,10,14,22,14,12,28,105,104,104,57,36,32,35,37,33,34,33,25,28,36,33,36,300,98,6,28,26,36,16,12,8,16,12,6,8,6,4,8,8,14,10,398

In [22]:
agg_df.shape

(1310, 90)

In [23]:
agg_df['gender'].value_counts()

gender
male      444
female    441
none      425
Name: count, dtype: int64

In [48]:
# saving the agg_df 
agg_df.to_csv('gender_data/agg_user_data.csv' , index = False)

In [29]:
agg_df_1 = agg_df[agg_df['gender']!='none']
agg_df_1.shape

(885, 90)

In [30]:
agg_df_none = agg_df[agg_df['gender']=='none']
agg_df_none.shape

(425, 90)

In [31]:
# saving both
agg_df_1.to_csv('gender_data/agg_df_1.csv' , index = False)
agg_df_none.to_csv('gender_data/agg_df_none.csv' , index = False)